.box1{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.box2{
    width: 300px;
    height: 300px;
    background-color: blue;
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 5%;
}

.box1:hover{
    z-index: 3;
}

.box2:hover{
    z-index: 3;
}