body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,116,117,1) 100%);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 20px;
}

nav a{
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

nav a:visited{
    color: white;
}

.witamy{
    background: rgba(134, 65, 0, 0.6);
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

.imgs{
    position: absolute;
    top: -1%;
    left: 10%;
    scale: 50%;
}

main{
    background: rgb(194, 104, 1);
    padding: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    color: white;
    background: rgb(119, 48, 0);
}

th, td {
    border: 1px solid rgb(194, 104, 1);;
    padding: 10px;
}

th {
    background: rgb(119, 48, 0);
}

footer{
    background: rgb(124, 50, 0);
    padding: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 0px 0px 20px 20px;
}