*{
    font-family: Verdana;
}

aside{
    width: 20%;
    height: 610px;
    float: left;
}

img{
    width: 100%;
    height: 610px;
}

header, footer, nav{
    background-color: MediumPurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px DimGray;
    float: right;
}

nav{
    padding-top: 10px;
}

main{
    background-color: Thistle;
    width: 80%;
    height: 450px;
    float: right;
}

button{
    float: right;
    background-color: MediumPurple;
    color: white;
    height: 30px;
    border: none;
}

ul{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 25px;
    border: solid 2px MediumPurple;
    list-style: none;
}

li{
    padding: 10px;
}

li:nth-child(even){
    background-color: #DDCADD;
}

li:hover{
    background-color: Lavender;
}