.a{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.b{
    width: 300px;
    height: 300px;
    background-color: blue;
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 5%;
}

.c{
    width: 300px;
    height: 300px;
    background-color: red;
    z-index: 3;
    position: absolute;
    left: 10%;
    top: 10%;
}